body {
  margin-left: 15%;
  margin-right: 15%;
  background-image:
  url("http://selab.hanyang.ac.kr/courses/cse326/2015/problems/images/3/blueTextureBG.jpg");
}

.overall {
  border: 10px dashed;
  border-color: white;
  background-color: white;
  margin-bottom: 10px;
}

header {
  background-color: #8E8E8E;
  color: white;
  padding: 5px;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  border-bottom: 3px dotted;
  border-bottom-color: white;
}

article {
  color: #FFFFFF;
  border: 4px solid;
  border-color: #1D2475;
  border-radius: 15px;
  background-color: #6277C3;
  padding: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.img_block{
  float: left;
  background-color:  white;
  color: black;
  text-align: center;
  margin: 5px;

}

article img {
  width: 250px; height: 250px;}

aside {
  color: white;
  border: 5px solid;
  border-radius: 15px;
  border-color: black;
  background-color: #1D2475;
  float: right;
  width: 150px;
  padding-right: 20px;
  margin: 10px;
}

aside a {
  color: orange;
}

.main_contents {
  margin-right: 200px;
  overflow: hidden;
}

.overall * > * :not(div):hover {
  background-color: #ffff00;
}

.img_block p {
  padding: 10px;
  margin: auto;
}
