body {
  font-family: Arial;
  color: #8ED4E6;
  background-color: #4051B5;
  background-image: url("images/gundam.png");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: right top;
  background-attachment: fixed;
}

p::first-letter {
  font-weight: bold;
  font-size: 150%;
}
h1,h2 {
  color: #91D8C2;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.8em;
}

dl {
  font-size: 75%;
  color: #FDFD1B;
}

dt {
  font-weight: bold;
}

ins {
  color: #10FF10;
  text-decoration: none;
}

ins:hover {
  font-weight: bold;
}

del {
  color: #FF3636;
}

strong {
  text-shadow: -2px 2px #ACACAC;
}

table, tr, td {border-style: solid;}
table {border-collapse: collapse;}
caption {text-align: right;}
tr:last-child { background-color: white;}

ol {list-style-type: lower-greek;}

.frame {
 width: 300px;
 height: 300px;
}
